<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alumnos</title>
</head>
<h2>
	</divv>
	<h2>Carga de Alumnos</h2>
	<div>
<form th:object="${alumno}" th:action="@{/cargarAlumno}" method="post">
	<label for="nombre">Nombre:</label>
	<input type="text" id="nombre" th:field="*{name}"><br>
				<label for="apellido">Apellido:</label>
				<input type="text" id="apellido" th:field="*{lastName}"><br>
				<label for="fechaNac">Fecha De Nacimiento:</label>
				<input type="date" id="fechaNac" th:field="*{fechaNac}"><br>
				<label for="dirCalle">Calle:</label>
				<input type="text" id="dirCalle" th:field="*{adressStreet}"><br>
				<label for="dirBarrio">Barrio:</label>
				<input type="text" id="dirBarrio" th:field="*{adressBarrio}"><br>
				<label for="dirNum">Numero:</label>
				<input type="number" id="dirNum" th:field="*{adressNumber}"><br>
				<label for="localidad">Ciudad:</label>
				<input type="text" id="localidad" th:field="*{adressCity}"><br>
				<label for="correo">Email:</label>
				<input type="email" id="correo" th:field="*{adressEmail}"><br>
				<label for="telefono">Telefono:</label>
				<input type="number" id="telefono" th:field="*{phoneNumber}"><br>	
				<label for= "dni"> DNI:</label>
				<input type="number" id="dni" th:field="*{phoneNumber}"><br>
				<input type="submit" value="Cargar Alumno">
			</form>
		</div>			
	</div>
</body>
</html>
	
